version: 2.1


website_docker_defaults: &website_docker_defaults
  docker:
    - image: circleci/node:8.11.3

commands:
  prep_website_env:
    description: Prepapres environment with cache
    steps:
      - checkout:
          path: ~/repo
      - restore_cache:
          name: Restore node_modules cache
          key: website-{{ .Branch }}-{{ checksum "yarn.lock" }}
  save_website_cache:
    description: Saves environment cache
    steps:
      - save_cache:
          name: Save node_modules cache
          key: website-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - node_modules/

jobs:
  lint_webapp:
    working_directory: ~/jenkins-timeline-plugin
    docker:
      - image: maven:3.6.0-jdk-8-alpine
    steps:
      - checkout
      - run: apk add make npm
      - run: make lint_webapp
  test_webapp:
    working_directory: ~/jenkins-timeline-plugin
    docker:
      - image: maven:3.6.0-jdk-8-alpine
    steps:
      - checkout
      - run: apk add make npm
      - run: make test_webapp
  test:
    working_directory: ~/jenkins-timeline-plugin
    docker:
      - image: maven:3.6.0-jdk-8-alpine
    steps:
      - checkout
      - run: apk add make npm
      - run: make build_all
      - run: make test
      - run: mkdir -p /tmp/artifacts
      - run: mkdir -p /tmp/versioning
      - run: cp target/*.hpi /tmp/artifacts
      - run: cp version.txt /tmp/versioning
      - persist_to_workspace:
          root: /tmp
          paths:
            - artifacts
            - versioning
  website:
    <<: *website_docker_defaults
    working_directory: ~/repo/website
    steps:
      - prep_website_env
      - run: yarn install
      - save_website_cache
      - run: yarn build
      - persist_to_workspace:
          root: ./
          paths:
            - build/
  deploy_website:
    <<: *website_docker_defaults
    working_directory: ~/repo/website
    steps:
      - prep_website_env
      - attach_workspace:
          at: ./
      - add_ssh_keys:
          fingerprints:
            - "67:43:3a:9c:23:66:bb:e1:00:03:d3:ab:1c:28:a5:f8"
      - run:
          name: Setup git user and deploy website
          command: |
            git config --global user.email "circleci-codewatch@users.noreply.github.com"
            git config --global user.name "CircleCI Codewatch"
            USE_SSH=true yarn publish-gh-pages
  publish-github-release:
    docker:
      - image: circleci/golang:1.8
    steps:
      - attach_workspace:
          at: /tmp
      - run:
          name: "Publish Release on GitHub"
          command: |
            go get github.com/tcnksm/ghr
            VERSION=`cat /tmp/versioning/version.txt`
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} /tmp/artifacts/


workflows:
  version: 2
  build_and_test:
      jobs:
          - lint_webapp
          - test_webapp
          - test:
              requires:
                  - lint_webapp
                  - test_webapp
          - publish-github-release:
              requires:
                  - test
              filters:
                branches:
                  only:
                    - master
          - website
          - deploy_website:
              requires:
                - website
              filters:
                branches:
                  only:
                    - master

